// $primary: #283f3b;
// $secondary: #3b7080;
// $accent: #e4572e;
// $error: #461220;
// $info: #f6d8ae;
// $success: #ade25d;
// $warning: #4b3b40;

$primary: var(--v-primary);
$secondary: var(--v-secondary);
$accent: var(--v-accent);
$error: var(--v-error);
$info: var(--v-info);
$success: var(--v-success);
$warning: var(--v-warning);

/* RGB */
// $color1: rgba(246, 216, 174, 1);
// $color2: rgba(90, 83, 83, 1);
// $color3: rgba(173, 226, 93, 1);
// $color4: rgba(160, 160, 131, 1);
// $color5: rgba(59, 112, 128, 1);

$tan: #f6d8ae;
$beige: $tan;

$greyBrown: #5a5353;
$avocado: #ade25d;
$dust: #a0a083;
$teal: #3b7080;
$coral: #FF715B;

$sans: 'Roboto', sans-serif;
$narrow: 'Roboto Condensed', sans-serif;
$serif: 'Roboto Slab', serif;

$background: darken($greyBrown, 18%);
.theme--dark.application {
  background: $background;
  color: #fff;
}

// <style scoped>
//   .something {
//     color: var(--v-primary-base)
//     background-color: var(--v-accent-lighten2)
//   }
// </style>